

.product-desc {
    height: 1000px;
    overflow:hidden
}

.product-container {
    padding-bottom: 10px;
    text-align: center;
}
.product-img {
    height: 500px;
    width: 300px;
}   

.container {
    padding-top: 10px; 
}

.text-center {
    text-align: center; 
}

.mb-5 {
    margin-bottom: 5rem !important;
}

.product-container-in-details {
    margin: auto;
    height: 40px;
    width: 40px;
}